{{/* Hero widget */}}

{{ $ := .root }}
{{ $page := .page }}
{{ $bg := $page.Params.design.background }}

<section id="hero" class="home-section wg-hero">
  <div class="container">

    {{ if $page.Params.hero_media }}
    <div class="row">

      <!-- TEXT COLUMN -->
      <div class="col-md-6 order-md-1 text-center text-md-left align-self-center">

        {{ with $page.Content }}
        <div class="hero-lead">
          {{ . }}
        </div>
        {{ end }}

        {{ if $page.Params.btn.url }}
          {{ $link := $page.Params.btn.url | relLangURL }}
          <p class="mt-4">
            <a href="{{ $link }}" class="btn btn-primary btn-lg">
              {{ $page.Params.btn.label }}
            </a>

            {{ if $page.Params.btn_alt.url }}
              <a href="{{ $page.Params.btn_alt.url | relLangURL }}"
                 class="btn btn-outline-primary btn-lg">
                {{ $page.Params.btn_alt.label }}
              </a>
            {{ end }}
          </p>
        {{ end }}

      </div>

      <!-- IMAGE + SOCIAL ICONS -->
      <div class="col-10 mx-auto col-md-6 order-md-2 hero-media text-center">

        <img class="hero-img img-fluid mb-3"
             src="{{ printf "img/%s" $page.Params.hero_media | relURL }}"
             alt="Hero image">

        {{ with site.GetPage "authors/admin" }}
        

        {{ partial "author_links.html" (site.GetPage "authors/admin") }}

        {{ end }}

      </div>

    </div>
    {{ end }}

  </div>
</section>
